@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'layout/header';
@import 'layout/footer';

//añadir estilos para la web 
* {
    font-family: 'Fira Sans', sans-serif;
}

.title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 15px;
   
}

.input {
    width: 300px;
    height: 30px;
}

.containerShare {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.containerList {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.ul {
    list-style: none;
}

.drink_img {
    width: 100px;
    height: 100px;
}

.drink_title {
    font-size: small;
}

//clases para señalar la favorita
.fav_drink {
    color: red;
    width: 10px;
}

.not_fav {
    width: 10px;
}