@import 'core/reset';
@import 'components/code';
;


//añadir estilos para la web 
* {
    font-family: 'Fira Sans', sans-serif;
};

.container {
    background-image: linear-gradient(to left,pink,rgb(235, 191, 111));
    min-height: 100vh;
    background-size:cover;
    background-position: center; 
};

.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: beige;
    font-family: 'Galada', cursive;
};

.desc {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: rgb(126, 113, 126);
    padding-bottom: 15px;
};

.containerShare {
    display: flex;
    justify-content:flex-start;
    padding-bottom: 15px;
};

.input {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 15px 0px 15px 0px;
    padding-left: 40px;
    margin-left: 330px;
    margin-right: 30px;
};

.btnShare {
    border: none;
    border-radius: 10%;
    width: 70px;
    margin-right: 15px;
    font-weight:bold;
    background-color: rgba(171, 106, 190, 0.767);
    color:beige; 
    cursor:pointer;
};

.btnReset {
    border: none;
    border-radius: 10%;
    width: 70px;
    background-color: rgba(230, 227, 59, 0.767);
    color:rgb(126, 113, 126);
    font-weight:bold;
    cursor:pointer;
};

.containerItems {
    display: flex;
    justify-content: space-around;
};

.container-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    width: 400px;
    height: 50%;
    overflow:auto;
    background-color: rgba(231, 248, 248, 0.404);
    margin-bottom: 100px;
};

.container-section2 {
    margin-right: 80px;
    width: 600px;
    height: 50%;
    overflow:auto;
    background-color: rgba(231, 248, 248, 0.404);
    margin-bottom: 100px;
};

.title-list1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    color: rgb(126, 113, 126);
    background-color: rgba(203, 173, 212, 0.767);
};

.title-list2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    color: rgb(126, 113, 126);
    background-color: rgba(150, 248, 150, 0.767);
};

.ul1 {
    list-style: none;
    margin-bottom: 20px;
};

.ul2 {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
};

.drink_img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
};

.drink_title {
    font-size: small;
    color: rgb(126, 113, 126);
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100px; 
};

//clases para señalar la favorita
.fav-color{
    &__fav_drink {
    color: red;
    width: 10px;
    }

    &__not_fav {
    width: 10px;
    }
};


